*{
    margin: 0;
    padding: 0;
    /* font-family: ; */
}
.container{
    width: 100vw;
    height:100vh;
    background-color: rgb(245,208,78);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 320px;
    width:250px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px  black;
    padding: 10px 10px;
    transition: box-shadow 0.4s ease; 
    
}
.image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
}
.card .tag{
    background-color: rgb(245,208,78);
    display: inline-block;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: bolder;
    margin-top: 8px;
    
}
.date{
    font-size: 10px;
    margin-top: 10px;
    color:grey;
    /* font-weight:; */
}
.card h4{
    font-weight: bold;
    margin-top: 10px;
}
.content{
    padding: 0 5.5px;
    margin-top: 20px;
    line-height: 14px;
}
.content p{
    font-size: 11px;
    color: grey;
    font-weight: bolder;

}
.creater{
    margin-top:12px;
    display: flex;
    
}
.creater .image{
    height: 30px;
    width: 30px;
}
.creater h4{
  margin-left: 5px;
    font-size: 14px;
    
}

/* .heading:hover {
    color:  rgb(245,208,78);
  
} */

.card .heading:hover {
    color:  rgb(245,208,78);
  
}
.card:hover {
    box-shadow: 10px 10px  black; /* Increase box-shadow on hover */
  }


@media only Screen and (max-width:440px){
    .card{
        width: 200px;
        margin: 10px;;
    }
}
@media only Screen and (max-width:250px){
    .card{
        width: 160px;
        margin:20px;
    }
}
